#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#header3-1 P {
  text-align: center;
}
#header3-1 H3 {
  text-align: center;
  color: #faaf40;
}
#header3-6 H3 {
  text-align: center;
  color: #faaf40;
}
#header3-6 P {
  text-align: center;
}
#content1-5 P {
  text-align: center;
}
